.el-tree-node__content {
  height: 50px !important;
}
.fc-title {
  display: inline-block;
  margin-left: 10px;
}
.fc-agendaWeek-button,.fc-agendaDay-button,.fc-month-button{
  background-color: #b4ff2f !important;
}
.el_border_none {
  .el-inp {
    text-align: center;
    border: 0px;
  }
}